# pixi environments
.pixi/*
!.pixi/config.toml

# Dataset
emotion_detect/archive/*

.vscode/*
__pycache__
emotion_detect/model/*
emotion_detect/log/*
*.log
*.pt
*.onnx
*.espdl

*/build/*
sdkconfig
sdkconfig.old
managed_components/

emotion_model_data.h

.clangd
compile_commands.json
